<div class="container mt-3">
  <h3>Reset Password</h3>
  <form class="mt-4" #formdata="ngForm" (ngSubmit)="onSubmit(formdata)">
    <!-- Input field for Email -->
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="email" [(ngModel)]="emailData.to" required>
    </div>
    <!-- Input field for Old Password -->
    <div class="mb-3">
      <label for="password" class="form-label">Old Password</label>
      <input type="password" class="form-control" name="password" id="password1" required>
    </div>
    <!-- Input field for New Password -->
    <div class="mb-3">
      <label for="password" class="form-label">New Password</label>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="emailData.password" required>
    </div>
    <!-- Reset Password button -->
    <button type="submit" class="btn btn-primary me-3">Reset Password</button>
    <!-- Go Back button -->
    <button (click)="onback()" class="btn btn-primary">Go Back</button>
  </form>
</div>
