<div class="container mt-3">
  <h3>Registration Form</h3>
<form class="mt-4" #formdata="ngForm" (ngSubmit)="onSubmit(formdata)">
  <div class="mb-3">
    <label for="to" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="emailData.name" required>
  </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" name="to" id="to" [(ngModel)]="emailData.to" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="emailData.password" required>
    </div>
    <button type="submit" class="btn btn-primary me-3">Submit</button>
    <!-- <button type="submit" class="btn btn-primary">Reset Password</button> -->
  </form>
</div>
  